In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("hello devolpers")

hello devolpers

In [2]:
list=[1,2,3,45]

In [3]:
%timeit [i ** 2 for i in list]

1.3 µs ± 7.86 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [4]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [5]:
import numpy as np
arr=np.array(list)
arr

array([ 1,  2,  3, 45])

In [6]:
%timeit arr ** 2

795 ns ± 269 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [7]:
arr1=np.random.randint(10,100,size=(5,6))
arr1

array([[54, 99, 11, 75, 20, 93],
       [91, 15, 12, 99, 47, 89],
       [98, 12, 93, 99, 56, 72],
       [98, 18, 68, 26, 66, 12],
       [52, 99, 40, 26, 83, 31]])

In [8]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [11]:
import pandas as pd
df=pd.DataFrame(data = arr1)
df

    0   1   2   3   4   5
0  54  99  11  75  20  93
1  91  15  12  99  47  89
2  98  12  93  99  56  72
3  98  18  68  26  66  12
4  52  99  40  26  83  31