In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [35]:
#numpy
lst=[1,2,3,4,5,6,7,8,9]

In [36]:
%timeit [i ** 2 for i in lst]

2.79 µs ± 408 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [37]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [38]:
import numpy as np
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
%timeit arr ** 2

815 ns ± 267 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [45]:
arr1 = np.random.randint (10,100,size =(5,6))
arr1

array([[81, 39, 85, 54, 56, 43],
       [83, 56, 53, 77, 72, 78],
       [12, 20, 91, 34, 50, 71],
       [37, 58, 14, 61, 61, 49],
       [67, 14, 15, 57, 79, 11]])

In [40]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [44]:
import pandas as pd
df = pd.DataFrame(data = arr1)
df

    0   1   2   3   4   5
0  16  25  75  29  10  72
1  91  44  20  56  71  67
2  63  88  83  44  41  21
3  66  34  15  71  65  32
4  42  29  97  48  58  74