In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Bootcamp")

Hello Bootcamp

In [5]:
lst = [1,2,3,4,5,6,7,8,9]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
%timeit [i ** 2 for i in lst]

3.83 µs ± 498 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [9]:
import numpy as np

In [12]:
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
%timeit arr ** 2

607 ns ± 11.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [14]:
arr1 = np.random.randint(10, 100, size = (5,6))

In [15]:
arr1

array([[17, 75, 20, 50, 34, 18],
       [39, 91, 96, 16, 21, 36],
       [19, 28, 95, 63, 14, 78],
       [25, 45, 90, 88, 52, 30],
       [78, 12, 96, 13, 55, 89]])

In [16]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [19]:
import pandas as pd

df = pd.DataFrame(data = arr1)

In [20]:
df

    0   1   2   3   4   5
0  17  75  20  50  34  18
1  39  91  96  16  21  36
2  19  28  95  63  14  78
3  25  45  90  88  52  30
4  78  12  96  13  55  89