In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("hello guys")

hello guys

In [3]:
lst=[1,2,3,4,5,6,7,8,9]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
%timeit[i**2 for i in lst]

UsageError: Line magic function `%timeit[i**2` not found.

In [4]:
%timeit [i**2 for i in lst]

2.89 µs ± 416 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [1]:
import numpy as np

In [5]:
arr=np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
%timeit arr**2

783 ns ± 273 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [7]:
arr=np.random.randint(10,50,size=(5,6))

In [8]:
arr

array([[43, 34, 33, 34, 23, 45],
       [29, 23, 38, 31, 40, 31],
       [39, 17, 38, 49, 30, 11],
       [25, 44, 14, 49, 30, 13],
       [24, 20, 41, 19, 34, 20]])

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame(data=arr)

In [11]:
df

    0   1   2   3   4   5
0  43  34  33  34  23  45
1  29  23  38  31  40  31
2  39  17  38  49  30  11
3  25  44  14  49  30  13
4  24  20  41  19  34  20