In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("hello my world")

hello my world

In [4]:
#numpy
lst = [1,2,3,4,5,6,7,8,9]
%timeit [i ** 2 for i in lst]

2.29 µs ± 19 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [5]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [6]:
import numpy as np

In [7]:
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
%timeit arr**2

460 ns ± 8.26 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [10]:
arr1 = np.random.randint(10,100, size = (5,6))
#print arr1
arr1

array([[44, 82, 20, 82, 44, 77],
       [83, 50, 61, 70, 85, 12],
       [14, 37, 87, 95, 92, 72],
       [24, 62, 63, 32, 85, 39],
       [22, 58, 32, 39, 33, 54]])

In [11]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [15]:
import pandas as pd
df = pd.DataFrame(data = arr1)
#print this data
df

    0   1   2   3   4   5
0  44  82  20  82  44  77
1  83  50  61  70  85  12
2  14  37  87  95  92  72
3  24  62  63  32  85  39
4  22  58  32  39  33  54