In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello developers")

Hello developers

In [2]:
#this is a comment

In [3]:
list=[1,2,3,4,5,6,7,8,9]

In [8]:
%timeit [i**2 for i in list]

2.69 µs ± 203 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [9]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [13]:
import numpy as np
arr=np.array(list)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
%timeit arr**2

563 ns ± 12.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [17]:
arr1=np.random.randint(10,100,size=(5,6))
arr1

array([[15, 11, 46, 80, 72, 65],
       [14, 61, 73, 44, 57, 55],
       [20, 98, 23, 72, 81, 64],
       [50, 83, 98, 10, 96, 93],
       [52, 75, 49, 11, 76, 12]])

In [18]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [21]:
import pandas as pd
df=pd.DataFrame(data=arr1)
df

    0   1   2   3   4   5
0  15  11  46  80  72  65
1  14  61  73  44  57  55
2  20  98  23  72  81  64
3  50  83  98  10  96  93
4  52  75  49  11  76  12