In [1]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [2]:
print("Hello Developers")

Hello Developers

In [3]:
#numpy

lst = [1,2,3,4,5,6,7,8,9]

In [4]:
%timeit [i ** 2 for i in lst]

2.29 µs ± 23.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [5]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [6]:
import numpy as np

arr = np.array(lst)

arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
%timeit arr ** 2

491 ns ± 7.34 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [11]:
arr1 = np.random.randint(10,100, size = (5,6))

arr1

array([[48, 11, 59, 56, 21, 97],
       [10, 58, 45, 82, 86, 39],
       [73, 95, 53, 10, 62, 60],
       [63, 85, 40, 84, 59, 77],
       [95, 39, 85, 58, 10, 57]])

In [13]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [15]:
import pandas as pd

df = pd.DataFrame(data = arr1)

#print this data

df

    0   1   2   3   4   5
0  48  11  59  56  21  97
1  10  58  45  82  86  39
2  73  95  53  10  62  60
3  63  85  40  84  59  77
4  95  39  85  58  10  57