In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello World")

Hello World

In [ ]:
#numpy :0

In [2]:
lst=[1,2,3,4,5,6,7,8,9]

%timeit [i**2 for i in lst]

2.62 µs ± 54.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [3]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [5]:
import numpy as np

arr1=np.random.randint(10,100,size=(5,6))
arr1

array([[28, 29, 55, 32, 11, 94],
       [38, 96, 10, 24, 84, 89],
       [81, 90, 14, 64, 34, 34],
       [92, 74, 96, 51, 85, 79],
       [44, 94, 58, 68, 77, 18]])

In [6]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
import pandas as pd;

df=pd.DataFrame(data=arr1)

df

    0   1   2   3   4   5
0  28  29  55  32  11  94
1  38  96  10  24  84  89
2  81  90  14  64  34  34
3  92  74  96  51  85  79
4  44  94  58  68  77  18