In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("hello world")

hello world

In [2]:
#numpy
lst=[1,2,3,4,5]

In [3]:
%timeit [i ** 2 for i in lst]

2.41 µs ± 69.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [6]:
import numpy as np

arr1=np.array(lst)

arr1

array([1, 2, 3, 4, 5])

In [7]:
%timeit arr1 ** 2

759 ns ± 291 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [8]:
arr=np.random.randint(10,100,size=(5,6))

arr

array([[32, 22, 63, 87, 20, 38],
       [67, 43, 27, 65, 10, 33],
       [61, 29, 66, 96, 99, 68],
       [59, 51, 55, 61, 56, 26],
       [79, 25, 87, 42, 42, 62]])

In [9]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd

df = pd.DataFrame(data = arr)

df

    0   1   2   3   4   5
0  32  22  63  87  20  38
1  67  43  27  65  10  33
2  61  29  66  96  99  68
3  59  51  55  61  56  26
4  79  25  87  42  42  62