In [1]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [2]:
print("hello developers")

hello developers

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]

In [12]:
import numpy as np
lst = [1,2,3,4,5,6,7,8,9]
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
arr1 = np.random.randint(10,100,size =(5,6))
arr1

array([[16, 35, 70, 95, 58, 10],
       [88, 57, 79, 24, 39, 77],
       [83, 35, 84, 74, 35, 61],
       [47, 32, 69, 16, 97, 12],
       [17, 42, 80, 61, 10, 35]])

In [ ]:
!pip install pandas

In [9]:
import pandas as pd
df = pd.DataFrame(data =arr1)
df

    0   1   2   3   4   5
0  16  35  70  95  58  10
1  88  57  79  24  39  77
2  83  35  84  74  35  61
3  47  32  69  16  97  12
4  17  42  80  61  10  35