In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
list = [1,2,3,4,5,6]
list

[1, 2, 3, 4, 5, 6]

In [2]:
%timeit [i ** 2 for i in list]

1.78 µs ± 23.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [3]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [4]:
import numpy as np

In [6]:
arr = np.array(list)
arr

array([1, 2, 3, 4, 5, 6])

In [7]:
%timeit arr ** 2

557 ns ± 7.27 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [9]:
arr1 = np.random.randint(10 , 100 , size = (5,6))
arr1

array([[67, 55, 52, 56, 86, 23],
       [25, 97, 47, 66, 55, 23],
       [36, 52, 68, 39, 28, 83],
       [65, 59, 68, 36, 63, 56],
       [73, 54, 34, 34, 17, 40]])

In [10]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd
df = pd.DataFrame(data = arr1)
df

    0   1   2   3   4   5
0  67  55  52  56  86  23
1  25  97  47  66  55  23
2  36  52  68  39  28  83
3  65  59  68  36  63  56
4  73  54  34  34  17  40