In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Developers")

Hello Developers

In [3]:
lst = [1,2,3,4,5,6,7,8,9]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
%timeit [i ** 2 for  i in lst]

3.04 µs ± 615 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [5]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [6]:
import numpy as np

In [7]:
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
%timeit arr ** 2

791 ns ± 299 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [9]:
arr1 = np.random.randint(10,100, size = (5,6))

In [10]:
arr1

array([[23, 37, 26, 61, 10, 24],
       [13, 89, 13, 59, 24, 14],
       [17, 96, 33, 59, 30, 13],
       [61, 17, 79, 28, 59, 65],
       [12, 33, 20, 20, 46, 24]])

In [11]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [12]:
import pandas as pd

df = pd.DataFrame(data = arr1)

In [13]:
df

    0   1   2   3   4   5
0  23  37  26  61  10  24
1  13  89  13  59  24  14
2  17  96  33  59  30  13
3  61  17  79  28  59  65
4  12  33  20  20  46  24