In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
lst = [1,2,3,4,5,6]


%timeit [i**2 for i in lst]

1.64 µs ± 119 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [2]:
import numpy as np


arr = np.array([lst])
arr

array([[1, 2, 3, 4, 5, 6]])

In [3]:
%timeit arr**2

486 ns ± 7.75 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [4]:
array1 = np.random.randint(low = 10, high = 100, size = (5,5))
array1

array([[81, 87, 91, 67, 70],
       [63, 35, 74, 53, 41],
       [57, 95, 64, 40, 31],
       [11, 90, 82, 76, 24],
       [77, 34, 12, 49, 58]])

In [6]:
import pandas as pd


df = pd.DataFrame(data = array1)
df

    0   1   2   3   4
0  81  87  91  67  70
1  63  35  74  53  41
2  57  95  64  40  31
3  11  90  82  76  24
4  77  34  12  49  58