In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Developers")

Hello Developers

In [2]:
lst = [1,2,3,4,5,6,7,8,9]

In [3]:
%timeit [i ** 2 for i in lst]

2.66 µs ± 106 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [5]:
import numpy as np

arr = np.array(lst)

arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
%timeit arr ** 2

556 ns ± 10.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [8]:
arr1 = np.random.randint(10,100, size = (5,6))

arr1

array([[99, 44, 13, 64, 59, 25],
       [48, 51, 38, 97, 12, 38],
       [17, 65, 85, 54, 18, 72],
       [82, 17, 18, 51, 92, 89],
       [25, 70, 76, 87, 87, 36]])

In [9]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [10]:
import pandas as pd

df = pd.DataFrame(data=arr1)

df

    0   1   2   3   4   5
0  99  44  13  64  59  25
1  48  51  38  97  12  38
2  17  65  85  54  18  72
3  82  17  18  51  92  89
4  25  70  76  87  87  36