In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [3]:
print("hello world")

hello world

In [4]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [6]:
#list
list = [1,2,3,4,5]

In [7]:
%timeit [i ** 2 for i in list]

1.63 µs ± 201 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [8]:
import numpy as np

In [10]:
arrr=np.array(list)

In [11]:
%timeit [i ** 2 for i in arrr]

2.16 µs ± 66.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [15]:
arr1=np.random.randint(10,100,size = (5,6))
arr1

array([[40, 39, 27, 57, 82, 30],
       [37, 19, 15, 28, 91, 64],
       [12, 86, 76, 68, 61, 11],
       [28, 65, 75, 64, 93, 34],
       [71, 33, 31, 84, 64, 95]])

In [16]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [17]:
import pandas as pd

In [19]:
df= pd.DataFrame(data=arr1)
df

    0   1   2   3   4   5
0  40  39  27  57  82  30
1  37  19  15  28  91  64
2  12  86  76  68  61  11
3  28  65  75  64  93  34
4  71  33  31  84  64  95