In [13]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

LIST

In [14]:
lst = [1,2,3,4,5,6]

In [15]:
%timeit [i**2 for i in lst]

1.94 µs ± 265 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Numpy

In [16]:
import numpy as np

In [17]:
arr = np.array([lst])
arr

array([[1, 2, 3, 4, 5, 6]])

In [19]:
%timeit arr**2

681 ns ± 252 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [38]:
arr1 = np.random.randint(low = 10, high = 100, size = (5,5))
arr1

array([[56, 56, 18, 12, 98],
       [36, 65, 92, 51, 94],
       [35, 63, 64, 80, 77],
       [17, 55, 79, 89, 20],
       [31, 91, 56, 47, 77]])

Pandas

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame(data = arr1)
df

    0   1   2   3   4
0  56  56  18  12  98
1  36  65  92  51  94
2  35  63  64  80  77
3  17  55  79  89  20
4  31  91  56  47  77