In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("hello developer")

hello developer

In [2]:
#numpy


list=[1,2,3,4,5,6,7,8,9]

In [7]:
%timeit [i ** 2 for i in list]

2.66 µs ± 305 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [9]:
import numpy as np

arr = np.array(list)

arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
%timeit arr ** 2

639 ns ± 6.93 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [11]:
arr1 = np.random.randint(10,100, size = (5,6))
arr1

array([[98, 61, 55, 97, 98, 16],
       [44, 57, 78, 40, 16, 32],
       [44, 14, 75, 86, 56, 28],
       [28, 28, 13, 57, 16, 88],
       [48, 50, 94, 48, 79, 61]])

In [13]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import pandas as pd

df = pd.DataFrame(data = arr1)

df

    0   1   2   3   4   5
0  98  61  55  97  98  16
1  44  57  78  40  16  32
2  44  14  75  86  56  28
3  28  28  13  57  16  88
4  48  50  94  48  79  61